.custom-popover {
    --ion-backdrop-opacity: 0.6;
 
    .popover-arrow {
        display: none;
    }
    
    .popover-content {
        left: 10px !important;
        width: calc(100% - 20px);
    }
}